{% extends "layout.html" %}

{% block title %}
    Buy History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Bought Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
                {% for i in range(l) %}
                    {% if data[i]["shares"] > 0 %}
                        <tr>
                            <td>{{ data[i]["symbol"] }}</td>
                            <td>{{ data[i]["shares"] }}</td>
                            <td>${{ data[i]["price"] }}</td>
                            <td>{{ data[i]["time"] }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
        </tbody>
    </table>
{% endblock %}