<!DOCTYPE html>
<html>
<head>
	<title>Quora</title>
<style>
table{
	width:100%;
	padding: 8px;
	border-collapse:collapse;
}
tr:nth-child(even){
	background-color: #dddddd;}
th {
	font-size: 40px;
	border: 1px solid #dddddd;
	padding: 8px;
}
td {
	font-size: 20px;
	border: 1px solid #dddddd;
	padding: 8px;}
</style>
</head>
<body>

<table>
	<tr style="text-align:center; font-size:30px; color:#aa0000; font-family: baskerville">
		<th colspan="2"><a href = "http://www.quora.com"><img src="https://konklone.com/assets/images/blog/quora/quora-logo.png" width="30%"></a></th>
	</tr>
	<tr>
		<th>Life Advice</th>
		<td><ul>
		<li><a href="https://www.quora.com/What-is-the-one-thing-that-people-wish-they-had-known-about-life-when-you-were-in-your-20s-d-2/answer/William-Beteet-1?srid=Uu5A">Things I should know.</li>
		<li><a href="https://www.quora.com/How-can-I-stop-being-average/answers/32270017?srid=Uu5A">How can I stop being average?</li>
		<li><a href="https://www.quora.com/Life-Advice-What-can-people-start-doing-now-that-will-help-them-a-lot-in-about-five-years/answer/David-Cannon-4?srid=Uu5A">What can we start doing now that can help in future?</li>
		<li><a href="https://www.quora.com/Life-How-can-I-motivate-myself-for-a-long-time/answer/Lokesh-Gilbert?srid=Uu5A">Motivation 1</li>
		<li><a href="https://www.quora.com/What-should-someone-in-their-mid-20s-do-right-now-in-order-to-be-fulfilled-in-life-in-their-latter-years/answer/Auren-Hoffman?srid=Uu5A">Things I should do before turning 30</li>
		<li><a href="https://www.quora.com/Life-Advice-What-can-people-start-doing-now-that-will-help-them-a-lot-in-about-five-years/answer/Stan-Hayward-1?srid=Uu5A">What can we start doing now that can help in future? 2</li>
		<li><a href="https://www.quora.com/How-can-I-overcome-the-fear-of-failure-1/answer/James-Altucher?srid=Uu5A">Fear of faliure.</li>
		<li><a href="https://www.quora.com/If-you-could-time-travel-and-meet-your-28-year-old-self-what-would-you-say/answer/Stan-Hayward-1?srid=Uu5A">What would you say to your 28 year old self?</li>
		<li><a href="https://www.quora.com/How-can-20-year-olds-enhance-their-intelligence/answer/Steve-Denton?srid=Uu5A">For 20 year old</li>
		<li><a href="https://www.quora.com/If-an-IIT-graduate-does-not-get-a-job-in-the-campus-placements-what-are-his-options-after-graduation/answer/Harsh-Snehanshu?srid=Uu5A">What are your options if you do not get a job in IIT placements.</li>
		<li><a href="https://www.quora.com/How-can-people-who-have-underachieved-for-years-change-course-and-exceed-their-potential/answer/DJ-Patil-2?srid=Uu5A">Motivation 2</li>
		<li><a href="https://www.quora.com/What-steps-should-I-make-if-I-want-to-develop-my-brain-to-the-maximum/answer/Nela-Canovic?srid=Uu5A">Life hack</li>
		</ul></td>
	</tr>
	<tr>
		<th>Random</th>
		<td><ul>
		<li><a href="https://www.quora.com/What-are-the-best-questions-on-Quora-8/answer/Deepak-Mehta-2?srid=Uu5A">Best Questions Asked.</li>
		<li><a href="https://www.quora.com/Massive-Open-Online-Courses-MOOCs-How-to-optimize-self-learning-from-video-lectures/answer/Ashish-Kedia?srid=Uu5A">How to learn effectively via MOOC?</li>
		<li><a href="https://www.quora.com/Are-there-good-YouTube-channels-that-teach-programming-languages/answer/Quincy-Larson?srid=Uu5A">Coding channels on Youtube</li>
		<li><a href="https://www.quora.com/What-are-the-10-must-read-books-during-the-ages-of-21-25/answer/Sebastian-Hammer-1?srid=Uu5A">Books to read before turning 30</li>
		<li><a href="https://www.quora.com/How-do-top-students-study/answer/Hooman-Katirai-2?srid=Uu5A">How to right notes?</li>
		<li><a href="https://www.quora.com/How-can-I-study-more-effectively/answers/21136193?srid=Uu5A">How to study effectively?</li>
		<li><a href="https://www.quora.com/What-are-the-top-hobbies-that-make-you-smarter/answer/Saul-Venskutonis-1?srid=Uu5A">What are the top hobbies that makes you smart?</li>
		<li><a href="https://www.quora.com/What-are-the-best-productivity-hacks-of-startup-CEOs/answer/Mikael-Cho?srid=Uu5A">Productivity hack</li>
		<li><a href="https://www.quora.com/What-learning-strategies-do-quick-learners-follow/answer/Joel-Chan?srid=Uu5A">Learn faster</li>
		<li><a href="https://www.quora.com/What-are-some-unknown-secret-tricks-you-should-know-about-YouTube/answer/Kaushal-Sengupta?srid=Uu5A">Tips and tricks for Youtube</li>
		<li><a href="https://www.quora.com/What-are-some-computer-tricks-that-a-CS-student-must-know/answer/Kaushal-Sengupta?srid=Uu5A">Hacks for computers</li>
		<li><a href="https://www.quora.com/What-can-I-learn-know-right-now-in-10-minutes-that-will-be-useful-for-the-rest-of-my-life/answer/Rohit-Shinde-2?srid=Uu5A">Tip and Tricks</li>
		</ul></td>
	</tr>
	<tr>
		<th>P.D.</th>
		<td><ul>
		<li><a href="https://www.quora.com/How-can-you-improve-your-communication-skills/answer/Dibakar-Dutta-5?srid=Uu5A">How can I improve my communication skills?</li>
		<li><a href="https://www.quora.com/Are-there-skills-other-than-coding-that-I-can-learn-to-get-a-well-paid-job/answer/Balaji-Viswanathan-2?srid=Uu5A">Skills needs to learn to get a well paid job</li>
		<li><a href="https://www.quora.com/Are-there-skills-other-than-coding-that-I-can-learn-to-get-a-well-paid-job/answer/James-Altucher?srid=Uu5A">Skills need to lear to get a well paid job 2</li>
		<li><a href="https://www.quora.com/What-can-be-read-or-learned-to-become-more-intelligent/answer/Mo-Amini-1?srid=Uu5A">Become intelligent</li>
		</ul></td>
	</tr>
	<tr>
		<th>C.S.</th>
		<td><ul>
		<li><a href="https://www.quora.com/What-can-I-learn-right-now-in-just-10-minutes-that-could-improve-my-algorithmic-thinking/answer/Thomas-Cormen-1?srid=Uu5A">How to improve algorithmic thinking?</li>
		<li><a href="https://www.quora.com/Why-my-Ubuntu-Linux-fails-to-mount-Windows-partition/answer/Kani-Daniel-Paul?srid=Uu5A">Ubuntu partition</li>
		<li><a href="https://www.quora.com/How-did-Akshat-Bubna-Pushkar-Mishra-and-Nihal-Pednekar-prepare-for-IOI/answer/Pushkar-Mishra?srid=Uu5A">Competitive Coding 1</li>
		<li><a href="https://www.quora.com/What-is-needed-to-become-good-algorithmist-like-top-rankers-in-Topcoder-Spoj-GCJ/answer/Pradeep-George-Mathias?srid=Uu5A">Competitive Coding 2</li>
		<li><a href="https://www.quora.com/How-can-I-set-myself-up-for-a-successful-job-in-the-software-industry/answer/Biron-Clark?srid=Uu5A">How can I land up myself a sofware engineering job?</li>
		<li><a href="https://www.quora.com/What-basic-data-structures-and-algorithms-should-one-learn-before-starting-competitive-programming/answer/Aman-Goel-9?srid=Uu5A">Competitive Coding 3</li>
		<li><a href="https://www.quora.com/How-can-I-learn-coding-to-be-an-elite-programmer-with-no-one-to-guide-me-I-have-described-my-present-situation-in-the-details/answer/Shiva-Mahajan?srid=Uu5A">Competitive Coding 4</li>
		<li><a href="https://www.quora.com/What-are-some-really-interesting-digital-image-processing-projects-for-beginners/answer/Deeksha-S-Diwakar?srid=Uu5A">List of projects for beginner in Image processing</li>
		<li><a href="https://www.quora.com/What-are-some-interesting-coding-projects-that-I-can-complete-in-7-14-days-to-build-my-resume-for-a-summer-internship/answer/Gayle-Laakmann-McDowell?srid=Uu5A">Small coding projects to boast the resume for summer internship</li>
		<li><a href="https://www.quora.com/How-can-I-become-a-world-class-coder-in-under-three-years/answer/Quildreen-Motta?srid=Uu5A">Competitive Coding 5</li>
		<li><a href="https://www.quora.com/What-algorithms-should-I-know-to-become-a-good-programmer/answer/Ashish-Kedia?srid=Uu5A">Competitive Coding 6</li>
		<li><a href="https://www.quora.com/What-can-I-learn-right-now-in-just-10-minutes-that-could-be-useful-for-the-rest-of-my-programming-career/answer/Daniel-Ly?srid=Uu5A">Competitive Coding 7</li>
		<li><a href="https://www.quora.com/In-what-order-should-I-learn-Algorithms-as-a-beginner-competitive-programmer/answer/Vladimir-Novakovski?srid=Uu5A">Competitive Coding 8</li>
		<li><a href="https://www.quora.com/What-is-the-best-and-comprehensive-online-resources-to-learn-programming/answer/Phaneendra-Chiruvella?srid=Uu5A">Resouces to learn programming</li>
		<li><a href="https://www.quora.com/What-are-the-top-five-books-every-computer-programmer-should-study-at-least-once/answer/Tikhon-Jelvis?ref=fb_page">Books to read</li>
		<li><a href="https://www.quora.com/What-are-the-best-sources-to-learn-web-coding-in-a-short-time/answer/Mayank-Singhal-2?ref=fb_page">Web Developement</li>
		<li><a href="https://www.quora.com/What-are-the-best-online-courses-for-a-first-year-B-Tech-undergrad/answer/Ashish-Kedia?ref=fb_page">MOOC's for first year Undergraduate.</li>
		</ul></td>
	</tr>
	<tr>
		<th>GSoC & summer intern</th>
		<td><ul>
		<li><a href="https://www.quora.com/How-can-I-apply-for-the-summer-internship-program-at-IISC-Bangalore-for-the-year-2017/answer/Prateek-Yadav-63?srid=Uu5A">How to apply for summer intern in IISc?</li>
		<li><a href="https://www.quora.com/How-does-my-resume-look-and-can-I-get-an-interview-for-an-internship-from-it/answer/Stephen-Q-Shannon?srid=Uu5A">Resume for internship</li>
		<li><a href="https://www.quora.com/Should-a-2nd-year-computer-science-undergraduate-try-to-get-into-GSoC-this-summer-or-should-he-spend-the-summer-getting-involved-in-competitive-programming/answer/Arihant-Verma?srid=Uu5A">GSoc 1</li>
		<li><a href="https://www.quora.com/What-are-the-institutes-in-India-a-physics-undergraduate-can-look-forward-to-for-research-internships-Opportunities/answer/Aman-Kumar-Jha?srid=Uu5A">Institutes for research internship in India</li>
		<li><a href="https://www.quora.com/How-do-I-prepare-for-the-Google-Summer-of-Code-GSoC/answers/2610421?srid=Uu5A">GSoC 2</li>
		<li><a href="https://www.quora.com/How-do-I-prepare-for-the-Google-Summer-of-Code-GSoC/answer/Pawan-Dubey-1?srid=Uu5A">GSoC 3</li>
		</ul></td>
	</tr>
	<tr>
		<th>M.L.</th>
		<td><ul>
		<li><a href="https://www.quora.com/How-do-I-learn-mathematics-for-machine-learning/answer/Abhinav-Sharma?srid=Uu5A">Mathematics for M.L.</li>
		<li><a href="https://www.quora.com/What-are-the-best-ways-to-learn-advanced-Machine-Learning-outside-academia/answer/Carlos-Guestrin?srid=Uu5A">M.L. 2</li>
		<li><a href="https://www.quora.com/What-would-be-your-advice-to-a-software-engineer-who-wants-to-learn-machine-learning-3/answer/Alex-Smola-1?srid=Uu5A">M.L. 3</li>
		<li><a href="https://www.quora.com/How-do-I-learn-machine-learning-1/answer/Xavier-Amatriain?srid=Uu5A">M.L. 4</li>
		</ul></td>
	</tr>
	<tr>
		<th>Interview & Resume</th>
		<td><ul>
		<li><a href="https://www.quora.com/What-are-the-best-formats-for-a-resume/answer/Gayle-Laakmann-McDowell?srid=Uu5A">Best format for Resume.</li>
		<li><a href="https://www.quora.com/Career-Advice-How-can-I-get-a-job-at-Facebook-or-Google-in-6-months/answer/Jimmy-Saade?srid=Uu5A">Coding Interview</li>
		<li><a href="https://www.quora.com/How-should-you-introduce-yourself-in-an-interview/answer/Adam-Seabrook?srid=Uu5A">How should you introduce yourself in interview?</li>
		<li><a href="https://www.quora.com/What-is-the-best-way-to-describe-yourself-in-an-interview/answer/Jaime-Petkanics?srid=Uu5A">What is the best way to decribe yourself in interview?</li>
		<li><a href="https://www.quora.com/What-reply-does-the-interviewer-expect-when-he-asks-do-you-have-any-questions-for-us/answer/Ambra-Benjamin-1?srid=Uu5A">What does the Interviewer mean by 'Do you have any question for us'?</li>
		<li><a href="https://www.quora.com/How-do-admissions-officers-rate-applicants/answer/Tom-Stagliano?srid=Uu5A">Selection process in MIT</li>
		<li><a href="https://www.quora.com/What-are-some-of-the-biggest-red-flags-in-an-interviewee-1/answer/John-L-Miller?ref=fb_page">Mistakes in Resume.</li>
		</ul></td>
	</tr>
</table>
</body>
</html>
